[submodule "reminder/ino2cpp"]
	path = library/ino2cpp
	url = https://github.com/arquicanedo/ino2cpp.git
[submodule "library/avr_debug"]
	path = library/avr_debug
	url = https://github.com/jdolinay/avr_debug.git
