body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.menu-icon {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px auto;
    transition: all 0.3s ease;
}

.menu-icon.open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-icon.open .line:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 98%;
    width: 3%; /* Half of the screen */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.menu.open {
    display: block;
}

.menu-content {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content li {
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-content a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.additional-item::after {
    content: '\2714'; /* Unicode character for tick mark */
    margin-left: 5px;
    display: none; /* Initially hide the tick mark */
}

.additional-item.ticked::after {
    display: inline-block; /* Show the tick mark when ticked */
}

.clock {
    font-size: 48px;
}

.menu-icon i {
    font-size: 24px;
    color: #333;
}